/*
orange: FF9800
blue: 263248
lightblue: 7E8AA2
*/

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

button {
  outline: none;
}

.hero {
  height: 600px;
  position: relative;
}

#gmap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.hero .front {
  position: absolute;
  bottom: 2.5em;
  left: 50%;
  width: 480px;
  margin-left: -240px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 8px;
}

.hero .front h1 {
  font-size: 3em;
  color: #FF9800;
  font-family: "Lobster", "sans-serif";
}

.hero .front h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

.hero .front button {
  color: #222;
  outline: none;
  border: 2px solid #222;
  padding: 0.8em;
  background: transparent;
  border-radius: 4px;
  transition: none;
  -webkit-transition: none;
}

.hero .front button:hover {
  border-color: #FF9800;
  color: #FFF;
  background: #FF9800;
  transition: none;
  -webkit-transition: none;
}

.hero.condense {
  height: 60%;
  margin: 5% 5% 0 5%;
  width: 90%;
  -webkit-transition: margin 500ms ease-out, width 500ms ease-out, height 500ms ease-out;
  -moz-transition: margin 500ms ease-out, width 500ms ease-out, height 500ms ease-out;
}

input[type=search] {
  font-size: 2em;
  border: 0;
  border-bottom: 2px solid #7E8AA2;
  width: 100%;
  outline: none;
  width: 100%;
  padding: 0.25em;
  color: #7E8AA2;
  font-family: 'Roboto', 'sans-serif';
}

input[type=search]:active, input[type=search]:focus {
  border-color: #263248;
  color: #7E8AA2;
}

.how-it-works {
  padding: 1em;
}

.profile-card {
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.profile-card:hover {
  color: #FFF;
  background-color: #7E8AA2;
  cursor: pointer;
}

.profile-card .portrait {
  width: 5em;
  height: 4.6em;
  border-radius: 8px;
  float: left;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.profile-card .information .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card .name {
  font-size: 1.15em;
}

/* Profile Dialog */
.profile-dialog button {
  color: #222;
  outline: none;
  border: 2px solid #222;
  padding: 0.8em;
  background: transparent;
  border-radius: 4px;
  transition: none;
  -webkit-transition: none;
}

.profile-dialog button:hover {
  border-color: #FF9800;
  color: #FFF;
  background: #FF9800;
  transition: none;
  -webkit-transition: none;
}

.profile-dialog i {
  color: #FF9800;
}

.profile-dialog textarea {
  width: 100%;
  margin-bottom: 1em;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  outline: none;
  font-size: 0.6em;
  height: 0px;
  min-height: 0px;
  overflow: hidden;
  visibility: hidden;
}

.profile-dialog textarea.appear {
  height: 100px;
  border: 2px solid #263248;
  -webkit-transition: height 250ms ease-out, border 250ms ease-out;
  -moz-transition: height 250ms ease-out, border 250ms ease-out;
  transition: height 250ms ease-out, border 250ms ease-out;
  visibility: visible;
}

.profile-dialog .name {
  font-size: 1.25em;
  line-height: normal;
  color: #263248;
}

.profile-dialog .distance {
  font-size: 0.75em;
  line-height: normal;
}

.profile-dialog .title {
  font-size: 0.8em;
  line-height: normal;
  color: #263248;
}

.profile-dialog {
  max-height: 500px;
  overflow: auto;
}

.profile-dialog .portrait {
  width: 5em;
  height: 4.6em;
  border-radius: 8px;
  float: left;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.profile-dialog .information {
  clear: both;
  margin-top: 1.5em;
}

.profile-dialog .information .title {
  color: #263248;
}

.how-it-works.slide-out {
  -webkit-transform: translateX(-100%);
  -webkit-transition: opacity 500ms ease-out 0, -webkit-transform 500ms ease-out 0;
  -moz-transition: opacity 500ms ease-out 0, -webkit-transform 500ms ease-out 0;
  opacity: 0;
  visibility: hidden;
}

.search-results {
  -webkit-transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  padding: 1em;
  display: none;
}

.search-results.slide-in {
  -webkit-transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 500ms ease-out 0, -webkit-transform 500ms ease-out 0;
  -moz-transition: opacity 500ms ease-out 0, -webkit-transform 500ms ease-out 0;
}
